
body {
  background-color: #121;
}
#terminal {
  width:800px;
  margin:40px auto;
  font-size:22px;
  font-family: monospace;
  color:#393;
  overflow: auto;
}
#terminal-screen {
	width:600px;
	float:left;
}
#terminal-sidebar {
	width:200px;
	float:right;
}
#terminal-history {
	height:416px;
}
#terminal-head {
	margin-bottom: 20px;
}
#terminal pre, #terminal span {
  margin:0;
}
#terminal span {
  display: inline;
}

#terminal-left {
  width: 50%;
  float:left;
}
#terminal-right {
  width: 50%;
  float: right;
}
.data, .byte {
  display:inline;
}

.data.selected {
  color:#111;
  background-color: #393;
}