<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fallout Terminal</title>
	<link rel="stylesheet" href="main.css">
</head>
<body ng-app="FalloutConsole">
	<main ng-controller="MainController">
		<div id="terminal">
			<div id="terminal-head">
				<pre>ROBCO INDUSTRIES (TM) TERMLINK PROTOCOL</pre>
				<pre>!!! WARNING: LOCKOUT IMMINENT !!! 
				</pre>
				<pre>{{attempts}} ATTEMPT(S) LEFT: <i ng-repeat="num in boxes">■ </i></pre>
			</div>
			<div id="terminal-screen">
			  <div id="terminal-left">
			    <pre ng-repeat="line in left" class="code-line">0xF000 {{line}}</pre>
			  </div>
			  <div id="terminal-right">
			  <pre ng-repeat="line in right" class="code-line">0xF000 {{line}}</pre>
			  </div>
			</div>
			<div id="terminal-sidebar">
				<div id="terminal-history">
					<pre ng-repeat="line in sidebar">>{{line}}</pre>
				</div>
				<pre>>{{selection}}</pre>
			</div>
		</div>
	</main>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
</body>
</html>